*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
#bigdiv{
    width: 100%;
    height: 30vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

}
#smallDiv1{
    width: 100%;
    height: 50%;
    background-color: rgb(247, 243, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}
#logo{
    font-size: 3rem;
    color: red;
    margin-left: 20px;
}
#nav{
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}
nav div{
    display: flex;
    justify-items:center;
    align-items: center;
    gap: 5px;
}
#nav img{
    width: 50px;
    height: 50px;
}
#nav a{
    font-size: 22px;
    text-decoration: none;
    color: black;
}
#navbtn{
    width: 18%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#btn1{
    height : 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 18px;
      
}
#btn2, #btn3{
    height : 40px;
    width: 40px;
    border-radius: 50%
}
#btn2 , #btn3 i{
    font-size: 1.2rem;
}



/*  */
#smallDiv2{
    width: 100%;
    height: 60%;
    background-color: rgb(247, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}
#whenWhereWho{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: rgba(129, 127, 127, 0.24) 5px 8px 8px;
    border-radius: 50px;
}
#whenWhereWho div{
    width: 33.3%;
    height: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
}
label{
    font-size: 20px;
}
input{
    height: 30px;
    width : 250px;
}

#Who div{
    height: 50px;
    width: 50px;
    border-radius: 50%;;
}

#iconwho{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#iconwho i{
    font-size: 20px;
    color: black;
    

}


/* main part */
#NorthGoa{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
#northGoaimg{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    margin-top: 10px;
    padding-left: 70px;
}
#northGoaimg div{
    height: 300px;
    width : 300px;
}
#northGoaimg div img{
    height: 200px;
    width : 200px;
}
