*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bigdiv{
    width: 100%;
    height: 40vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

}
#smallDiv1{
    width: 100%;
    height: 80%;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}
#logo{
    font-size: 3rem;
    color: red;
    margin-left: 20px;
}
#nav{
    width: 50%;
    height: 50%;
    border: 2px solid blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}
nav div{
    display: flex;
    justify-items:center;
    align-items: center;
    gap: 5px;
}
#nav img{
    width: 50px;
    height: 50px;
}
#nav a{
    text-decoration: none;
    color: black;
}


#smallDiv2{
    width: 100%;
    height: 80%;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

